$border-radius: 10px;
$border-radius-lg: 50px;
$input-border: #b1b1b1;
$body-bg: #f5f5f5;
$dark: #666666;
$snow: #dedede;
$primary: #f36421;
$secondary: #075ca6;
$green: #58b950;
$white: #fff;

$snow-light: #f3f3f3;
$snow-dark: #e8e8e8;
