// Component Styles
@use './demo';
@use './scanner-agencies';
@use './modal';
// Import fonts
@use './fonts';

@use 'date-picker';
@use 'date-picker-lib';
@use './variables';

// Override default variables before the import
$font-family-base: 'Avenir';
$spacer: 5px;

$spacers: (
  0: 0,
  1: (
    $spacer * 0.25,
  ),
  2: (
    $spacer * 0.5,
  ),
  3: $spacer,
  4: (
    $spacer * 1.5,
  ),
  5: (
    $spacer * 2,
  ),
  6: (
    $spacer * 3,
  ),
  7: (
    $spacer * 3.5,
  ),
  15: (
    $spacer * 3,
  ),
  20: (
    $spacer * 4,
  ),
  25: (
    $spacer * 5,
  ),
  40: (
    $spacer * 8,
  ),
);

body {
  display: flex;
}

.bg-background {
  background-color: variables.$body-bg;
}

.container {
  max-width: 100% !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.text-muted {
  color: #6c757d !important;
}
.right-align-table {
  text-align: right;
}

.ant-picker-outlined {
  width: 100%;
  height: 38px;
}
